<ion-card (click)="abrirNoticia()">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{indice + 1}}.</span>
      <span class="noticia-source-name">  {{noticia.source.name}}</span>
    </ion-card-subtitle>
    <ion-card-title>{{noticia.title}}</ion-card-title>
  </ion-card-header>

  <ion-content #container padding>
  <img  [lazyLoad]="noticia.urlToImage"  />
  </ion-content>
  <ion-card-content>
    <p>
      {{noticia.description}}
    </p>
  </ion-card-content>
</ion-card>