<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content #container padding>
    <img [lazyLoad]="'https://upload.wikimedia.org/wikipedia/commons/4/43/Escudo_de_Millonarios_temporada_2017.png'" [customObservable]="container.ionScroll" />
W
<img [defaultImage]="defaultImage"
         [lazyLoad]="images"
         [useSrcset]="true">


      



         <div [defaultImage]="defaultImage" [lazyLoad]="images"></div>
  </ion-content>

 
</ion-content>
